.Login {
    background-color: #f8f9fa;
    padding: 30px auto;
    margin: 20px 0  ;
  }
  .Login a{
    text-decoration: none;
  }
  .Login button{
    margin:  20px 0  10px ;
  }
  .signup-form {
    width: 100%;
    max-width: 400px;
    padding: 30px;
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
  }
  
  .signup-form h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .signup-form p {
    font-size: 14px;
    color: #777;
  }
  
  .signup-form p a {
    color: #28a745;
  }
  
  .signup-form .form-control {
    border-radius: 5px;
    margin-bottom: 15px;
  }
  
  .signup-form .btn {
    border-radius: 5px;
  }
  
  .img-fluid {
    max-width:  400px ;
    height: auto;
    border-radius: 10px;
  }
  
  @media (max-width: 768px) {
    .row.no-gutters {
        flex-direction: column;
    }
  
    .signup-form {
        margin-top: 20px;
    }
  }
  